<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />

    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect"
        href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600;700;800&display=swap"
        rel="stylesheet"> -->

    <!-- Preloading the bg-image which will be the LCP element! -->
    <!-- <link rel=preload href="<%= BASE_URL %>staticImg/furetto_300_1x.webp" as=image
        imagesrcset="<%= BASE_URL %>staticImg/ferret_300_1x.webp 1x, <%= BASE_URL %>staticImg/ferret_300_2x.webp 2x, <%= BASE_URL %>staticImg/ferret_300_3x.webp 3x"> -->

    <style>
        @font-face {
            font-family: 'Libre Franklin';
            font-style: regular;
            font-weight: 400;
            src: local('Libre Franklin'), local('libre-franklin')
        }

        body {
            font-family: 'Libre Franklin', sans-serif;
        }

        /* #preloaded-ferret-bg {
            background-image:
                -webkit-image-set(url(" <%=BASE_URL %>staticImg/ferret_300_1x.webp 1x") 1x,
                    url("<%= BASE_URL %>staticImg/ferret_300_2x.webp") 2x);
        } */
    </style>

    <title>Core Vitals</title>

</head>

<body>
    <noscript>
        <strong>We're sorry but Vue doesn't work properly without JavaScript
            enabled. Please enable it to continue.</strong>
    </noscript>

    <!-- LCP element: bg-image => preload -->
    <!-- <div
        style="display: flex; flex-direction: column; align-items: center; margin-bottom: 200px; margin-right: 30px; margin-left: 30px;">
        <h1 style="font-size: 1.25rem; font-weight: 400; margin: 30px 0; padding: 0;"> In a not Vue application</h1>

        <div id="preloaded-ferret-bg" style="width: 300px; height: 199px;">
        </div>
        <p style="font-size: 1.125rem;">This background image was preloaded</p> -->

    <!-- Art direction: we are combining the power of prefetching with art direction strategy to prefetch the most appropriate image to the current viewport -->
    <picture style="margin-top: 15px;">
        <source media="(max-width: 576px)"
            srcset="<%= BASE_URL %>staticImg/ferret_300_1x.webp 1x, <%= BASE_URL %>staticImg/ferret_300_2x.webp 2x, <%= BASE_URL %>staticImg/ferret_300_3x.webp 3x" />
        <source media="(min-width: 576px)" srcset="<%= BASE_URL %>staticImg/ferret_300_2x.webp" />
        <img fetchpriority="high" src="<%= BASE_URL %>staticImg/furetto_300_1x.webp" alt="A cute ferret face"
            width="300" height="199" />
    </picture>
    <p style="margin-top: 20px; font-size: 1.125rem;">This will be the LCP element of the page. For this reason, we
        should try to render it as soon as
        possible</p>

    <picture style="margin-top: 100px;">
        <source media="(max-width: 576px)"
            srcset="<%= BASE_URL %>staticImg/albino-ferret_200_1x.webp 1x, <%= BASE_URL %>staticImg/albino-ferret_200_2x.webp 2x, <%= BASE_URL %>staticImg/albino-ferret_200_3x.webp 3x" />
        <source media="(min-width: 576px)" srcset="<%= BASE_URL %>staticImg/albino-ferret_200_2x.webp" />
        <img src="<%= BASE_URL %>staticImg/albino-ferret_200_1x.webp" fetchpriority="low" width="200" height="142"
            alt="An albino ferret, so rare!" />
    </picture>
    <p style="margin-top: 20px; font-size: 1.125rem;">This is just a cute ferret, nevertheless, if not handled
        properly, it could delay
        the render of the LCP
        element!</p>

    </div>

    <div id="app">
    </div>
    <!-- built files will be auto injected -->
</body>

</html>