<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect"
        href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">

    <title>Core Vitals</title>
</head>

<body>
    <noscript>
        <strong>We're sorry but Vue doesn't work properly without JavaScript
            enabled. Please enable it to continue.</strong>
    </noscript>

    <div style="display: flex; flex-direction: column; align-items: center; margin-bottom: 200px;">
        <h1 style="font-size: 20px; font-weight: 400; margin: 15px 0; padding: 0;"> In a not Vue application</h1>
        <img src="<%= BASE_URL %>ferret.webp" fetchpriority="high" width="300" height="auto"
            style="margin-top: 30px;" />
        <img src="<%= BASE_URL %>albino-ferret.webp" fetchpriority="low" width="200" height="auto"
            style="margin-top: 100px;" />
    </div>

    <div id="app">
    </div>
    <!-- built files will be auto injected -->
</body>

</html>